<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartfit Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="cajalogin">
        <img class="avatar" src="img/smartfit_logo.png" alt="">
        <h1> Inicio de sesión</h1>
        <form class="col-5" th:action="@{/menu}" th:object="${colaborador}" method="post">
            <label for="email">Email</label>
            <input type="text" placeholder="Ingrese correo electronico" th:field="*{email}">
            <label for="Contraseña">Contraseña</label>
            <input type="password" placeholder="Ingrese contraseña" th:field="*{password}">
        <input type="submit" value="Iniciar Sesion">
        <a href="">¿Perdiste tu contraseña?</a>
        </form>
    </div>    
</body>
</html>