<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartfit Login</title>
    <link rel="stylesheet" href="css/registro.css">
</head>
<body>
    <div class="cajalogin" th:href="@{/}">
        <img class="avatar" src="img/smartfit_logo.png" alt="">
        <h1> Formulario de registro </h1>
        <form class="col-5" th:action="@{/registro}" method="post" th:object="${Colaborador}">
            <div class="form-group">
				<label class="control-label" for="nombre">Nombre</label> <input
					id="nombre" type="text" class="form-control" th:field="*{nombre}"
					required autofocus="autofocus">
			</div>
			<div class="form-group">
				<label class="control-label" for="apellido">Apellido</label> <input
					id="apellido" class="form-control" th:field="*{apellido}"
					required autofocus="autofocus">
			</div>
			<div class="form-group">
				<label class="control-label" for="email">Email</label> <input
					id="email" type="email" class="form-control" th:field="*{email}"
					required autofocus="autofocus">
			</div>
			<div class="form-group">
				<label class="control-label" for="password">Password</label> <input
					type="password" id="password" class="form-control" th:field="*{password}"
					required autofocus="autofocus">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Registrar</button>
				<span>Si ya estas registrado <a th:href="@{/login}"> Inicia sesión aquí</a></span>
			</div>
        </form>
    </div>    
</body>
</html>